@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gamja Flower', cursive;
    align-items: center;
}
div, p {
    margin: 0;
    padding: 0;
}

.header {
    width:100%; 
    padding: 1vh 0 1vh 0; /*top right bottom left*/
    text-align: center; 
    border-bottom: 1px solid lightgray;
}
#logo{
    width: 8vh;
}

.content{
    width: 100%;
    max-width: 65rem;
    min-width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gamja Flower', cursive;
    text-align: center;
    padding: 0 5rem 0 5rem;
}

#start > p{
    font-size: 2.5rem; 
    margin-top: 10vh;
}
#start > img {
    width:15rem; 
    align-self: center; 
    margin-top: 5vh; 
    margin-bottom: 15vh;
}

#question > #pgrNum{
    text-align: left;
    margin-top: 3vh;
}
#question > #title{
    width: 100%;
    height: 20vh;
    margin: 10vh 0 10vh 0;
}
#question > button{
    height: 8vh;
}

#result > img {
    width : 200px;
    height : 200px;
    align-self: center;
    margin: 5vh 0 2vh 0; 
}
#result > .resultBtn{
    display: flex;
    flex-direction: column;
}
#result .maker{
    margin-top: 10vh;
    font-size: 0.9rem;
    color: rgb(70, 70, 70);
}
