@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Gamja Flower', cursive;
}
.header {
    width:100%; 
    padding: 1rem 0 1rem 0; /*top right bottom left*/
    text-align: center; 
    border-bottom: 1px solid lightgray;
}
#logo{
    width: 5rem;
    height: 5rem;
}

.start{
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    font-family: 'Gamja Flower', cursive;
    padding: 0 5rem 0 5rem;
}
.A{
    font-size: 200px;
    padding: 500px;
}


.question{
    display: flex;
    flex-direction: column;
    font-family: 'Gamja Flower', cursive;
    margin-top: 30px;
    margin-bottom: 80px;
}

.explain{
    height: 120px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.result {
    display: none;
    font-family: 'Gamja Flower', cursive;
    margin-top: 20px;
    margin-bottom: 50px;
}

.resultBtn {
    flex:none;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

#replay{
    margin-top: 30px;
    width: 350px;
}
#copy{
    width: 350px;
}
#go{
    width:350px;
    margin-top: 7px;
}

.maker{
    margin-top: 50px;
    font-size: 12px;
    color: rgb(70, 70, 70);
}

#A{
    height: 80px;
}
#B{
    height: 80px;
}

#title{
    font-weight: bold;
}

#planet{
    font-weight: bold;
}

#img {
    width : 200px;
    height : 200px;
    margin : 0 auto;
}
.border{
    padding: 20px;
}

.card{
    margin : 0 auto;
}

